<h2><a href="/pokemon">Back to Pokedex</a></h2>
<div class="pokemon">
  <p>Pokemon Name: <%= @pokemon.name %></p>
  <p>Pokemon CP: <%= @pokemon.cp %></p>
  <p>Pokemon Type: <%= @pokemon.poke_type %></p>
  <p><img src="<%= @pokemon.img_url %>" alt="A Pokemon"</p>
</div>
<div>
  <a href='/pokemon/<%= @pokemon.id %>/edit'>Edit This Pokemon</a>
</div>

<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Release Back Into The Wild!">
  <p>
</form>
